.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--header-background);
    background-blend-mode: overlay;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1000;
    &__inner {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    &__nav {
        display: flex;
        @include sp {
            display: none;
        }
    }
    &__link {
        margin: 0 10px;
        color: var(--header-link-color);
        &.is-active {
            color: var(--header-link-active-color);
        }
        &:hover {
            color: var(--header-link-active-color);
        }
    }
    &__setting {
        display: flex;
        align-items: center;
    }
    &__theme {
        margin-right: 20px;
        &--input {
            display: none;
            &:checked + .header__theme--label {
                background-color: #000;
                .header__theme--star {
                    top: -5px;
                    left: 31px;
                    transform: scale(0.3) rotate(360deg);
                    @include sp {
                        top: -2px;
                        transform: scale(0.6) rotate(360deg);
                    }
                    .star {
                        color: yellow;
                    }
                }
                .header__theme--moon {
                    bottom: 3px;
                    &:before {
                        background-color: #000;
                    }
                }
            }
        }
        &--label {
            display: block;
            width: 60px;
            height: 25px;
            margin: 0 auto;
            background-color: #77b5fe;
            border-radius: 56px;
            cursor: pointer;
            position: relative;
            transition: 0.3s ease background-color;
            overflow: hidden;
        }
        &--star {
            position: absolute;
            top: 50%;
            left: 2px;
            width: 25px;
            height: 25px;
            transform: translateY(-50%) scale(1);
            border-radius: 50%;
            transition: all 0.5s linear;
            z-index: 1;
            @include sp {
                width: 20px;
                height: 20px;
            }
            &::before {
                content: "";
                position: absolute;
                background-color: #fafd0f;
                top: 5px;
                left: 5px;
                bottom: 5px;
                right: 5px;
                border-radius: 50%;
                transition: 0.3s ease background-color;
            }
            &-2 {
                transform: rotate(36deg);
                @include sp {
                    transform:  translateY(-50%) rotate(36deg) !important;
                }
            }
            .star {
                position: absolute;
                top: -2px;
                left: 1px;
                font-size: 28px;
                color: #fafd0f;
                transition: 0.3s ease color;
                @include sp {
                    font-size: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            
        }
        &--moon {
            position: absolute;
            bottom: -52px;
            right: 3px;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
            transition: 0.3s ease bottom;
            &:before {
                content: "";
                position: absolute;
                top: -12px;
                left: -18px;
                width: 32px;
                height: 28px;
                background-color:#03a9f4;
                border-radius: 50%;
                transition: 0.3s ease background-color;
            }
        }
    }
    &__lang {
        display: flex;
        justify-content: center;
        align-items: center;
        &--item {
            display: block;
            margin-left: 15px;
            position: relative;
            color: var(--header-link-color);
            transition: all 0.2s linear;
            &:hover {
                color: var(--header-link-active-color);
            }
            &.is-active {
                color: var(--header-link-active-color);
                &::before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-image: linear-gradient(90deg,#3a87f3,#4ad0c2);
                    top: 50%;
                    left: -10px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
            }

        }
    }
}
