*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

:root {
  --primary-color: #3a87f3;
  --header-link-color: #808080;
  --header-link-active-color: #393939;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.c-txt {
  font-size: 1.6rem;
  line-height: 1.5;
}
.c-txt + .c-txt {
  margin-top: 5px;
}

a.c-link {
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #3a87f3, #4ad0c2);
}

.u-t-j {
  text-align: justify;
}

.c-ttl-gradient-01 {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #3a87f3, #4ad0c2);
  line-height: 1.5;
}

.c-btn {
  position: relative;
}
.c-btn:hover .hover {
  transform-origin: 0 0;
  transform: scaleX(1);
}
.c-btn .hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.3;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  will-change: transform;
}

.c-btn-01 {
  padding: 10px 20px;
  background-image: linear-gradient(90deg, #000, #161414);
  color: #fff;
  border-radius: 4px;
}
.c-btn-01 .label {
  display: flex;
  align-items: center;
}
.c-btn-01 .label .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.c-btn-01 .label .icon img {
  transform: scale(1.4);
}

.c-btn-02 {
  padding: 10px 20px;
  background-image: linear-gradient(90deg, #3a87f3, #2d9187);
  color: #fff;
  border-radius: 4px;
}
.c-btn-02 .label {
  display: flex;
  align-items: center;
}
.c-btn-02 .label .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.c-ttl-01 {
  font-size: 2rem;
  width: fit-content;
  display: block;
}

@media (min-width: 1024px) {
  .sp {
    display: none;
  }
}

@media (max-width: 767px) {
  .pc {
    display: none;
  }
}

.header__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.header__nav {
  display: flex;
}
.header__link {
  margin: 0 10px;
  color: var(--header-link-color);
}
.header__link.is-active {
  color: var(--header-link-active-color);
}
.header__setting {
  display: flex;
  align-items: center;
}
.header__theme {
  margin-right: 20px;
}
.header__theme--input {
  display: none;
}
.header__theme--input:checked + .header__theme--label {
  background-color: #000;
}
.header__theme--input:checked + .header__theme--label .header__theme--star {
  top: -5px;
  left: 31px;
  transform: scale(0.3) rotate(360deg);
}
.header__theme--input:checked + .header__theme--label .header__theme--star .star {
  color: yellow;
}
.header__theme--input:checked + .header__theme--label .header__theme--moon {
  bottom: 3px;
}
.header__theme--input:checked + .header__theme--label .header__theme--moon:before {
  background-color: #000;
}
.header__theme--label {
  display: block;
  width: 60px;
  height: 25px;
  margin: 0 auto;
  background-color: #77b5fe;
  border-radius: 56px;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease background-color;
  overflow: hidden;
}
.header__theme--star {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%) scale(1);
  border-radius: 50%;
  transition: all 0.5s linear;
  z-index: 1;
}
.header__theme--star::before {
  content: "";
  position: absolute;
  background-color: #fafd0f;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}
.header__theme--star-2 {
  transform: rotate(36deg);
}
.header__theme--star .star {
  position: absolute;
  top: -2px;
  left: 1px;
  font-size: 28px;
  color: #fafd0f;
  transition: 0.3s ease color;
}
.header__theme--moon {
  position: absolute;
  bottom: -52px;
  right: 3px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}
.header__theme--moon:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -18px;
  width: 32px;
  height: 28px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}
.header__lang {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__lang--item {
  display: block;
  margin-left: 15px;
  position: relative;
  color: var(--header-link-color);
  transition: all 0.2s linear;
}
.header__lang--item:hover {
  color: var(--header-link-active-color);
}
.header__lang--item.is-active {
  color: var(--header-link-active-color);
}
.header__lang--item.is-active::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-image: linear-gradient(90deg, #3a87f3, #4ad0c2);
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.section-mv__inner {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}
.section-mv__left {
  flex: 10;
  padding-right: 0;
}
.section-mv__hi {
  text-transform: uppercase;
  color: #5a5a5a;
  font-size: 1.4rem;
}
.section-mv__right {
  flex: 9;
  padding-left: 20px;
}
.section-mv__ttl {
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
}
.section-mv__lead {
  font-size: 2rem;
  margin: 5px 0 10px 0;
}
.section-mv__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-mv__img img {
  object-fit: cover;
  max-width: 100%;
  width: 75%;
}
.section-mv__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
}
.section-mv__buttons .c-btn {
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
